menu "WiFi Logger configuration"

choice LOGGING_SERVER_TRANSPORT_PROTOCOL
    prompt "Network protocol (TCP/UDP/WEBSOCKET)"
    default LOGGING_SERVER_TRANSPORT_PROTOCOL_UDP
    help
        "Network protocol to be used to relay log messages, either use UDP or TCP."

    config LOGGING_SERVER_TRANSPORT_PROTOCOL_UDP
        bool "UDP"

    config LOGGING_SERVER_TRANSPORT_PROTOCOL_TCP
        bool "TCP"

    config LOGGING_SERVER_TRANSPORT_PROTOCOL_WEBSOCKET
        bool "WEBSOCKET"

endchoice

config LOGGING_SERVER_MESSAGE_QUEUE_SIZE
    int "Queue Size"
    default 1000
    help 
        "Sets message queue size"

config LOGGING_SERVER_BUFFER_SIZE
    int "logger buffer size"
    default 512
    help 
        "Logger buffer size"
        
endmenu
